body {
  margin: 0;
  margin-top: 50px;
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  background-color: #A8A7A7;
}

.headerimg {
  position: relative;
  text-align: center;
  color: white;
}

/*
.header {
  position: absolute;
  bottom: 360px;
  left: 10px;
}
*/

h1 {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  color: white;
  display: inline;
  text-align: left;
}

h2 {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  display: inline;
  text-align: right;
  color: white;
}

h3 {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Playfair Display', serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

section {
  color: black;
  background-color: #EFEFEF;
  text-align: center;
  padding: 25px;
  margin: 25px;
  width: justify;
}

p {
  font-family: 'Helvetica', serif;
  font-size: 10px;
}


.photographs {
  margin: 25px;
}

#photographs {
  width: 70px
  height: 70px
  display: inline-block;
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
}

#photographs img {
  width: 100%;
  height: auto;
}
