header {
  text-align: left;
  color: white;
  font-family: 'Playfair Display', serif;
  background: url("frida_header.jpeg");
  background-size: center;
  object-fit: cover;
}
h1 {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
  color: white;
}
ul {
    padding: 10px;
    font-size: 20px;
    text-align: right;
  }
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
